<div class="main">
  <div class="about">
    <div>
      <img src="../../assets/collection.png" class="aboutimg" />
    </div>
    <div class="textarea">
      <p class="heading">About us!</p>
      <p class="content">
        Our journey began with a simple yet powerful vision:to alleviate hunger
        and food waste simultaneously. Every year, millions of tons of perfectly
        edible food go to waste, while countless individuals and families
        struggle to find their next meal. This paradox inspired us to create a
        solution that not only prevents food from going to landfills but also
        nourishes the hungry and vulnerable in our communities.
      </p>
    </div>
  </div>
  <div class="about">
    <div class="textarea">
      <p class="heading">How it works:</p>
      <p class="content">
        Our platform provides an easy and effective way for individuals,
        restaurants, supermarkets, and businesses to donate their surplus food.
        Through a user-friendly interface, donors can list available food items
        and specify their location and pick-up times. On the other end,
        registered charities, food banks, and community organizations can search
        for nearby food donations and schedule pick-ups to distribute among
        those in need.
      </p>
    </div>
    <div>
      <img src="../../assets/collect-donate.png" class="aboutimg" />
    </div>
  </div>
</div>
