<div class="main">
  <p class="heading">What do we do?</p>
  <div class="content">
    <p class="quote">
      "Share Your Surplus, Feed a Soul: Donate Food to Those in Need!
    </p>
    <p class="text">
      Welcome to our surplus food donation service, where generosity meets
      compassion. Together, let's make a difference in the lives of those facing
      hunger and hardship.<br />
      Your surplus food can become a lifeline for individuals and families in
      need. With your support, we can ensure that no good food goes to waste,
      and every plate is filled with nourishment and hope.
    </p>
  </div>
  <div class="cardWrapper">
    <div class="card">
      <p class="quote">Embrace Giving</p>
      <img src="../../assets/embrace.png" />
      <p class="text">
        Choose to donate your surplus food and be a part of a powerful movement
        to fight hunger.
      </p>
    </div>
    <div class="card">
      <p class="quote">Simple and efficient</p>
      <img src="../../assets/simple.png" />
      <p class="text">
        Our donation process is easy – schedule a pickup or drop-off, and we'll
        take care of the rest.
      </p>
    </div>
    <div class="card">
      <p class="quote">Impactful Change</p>
      <img src="../../assets/smile.png" />
      <p class="text">
        Your donation directly nourishes the hungry, spreading smiles & relief
        throughout the community.
      </p>
    </div>
    <div class="card">
      <p class="quote">Together, We thrive</p>
      <img src="../../assets/thrive.png" />
      <p class="text">
        By sharing your surplus, you join hands with us to make a lasting impact
        on the lives of those in need.
      </p>
    </div>
  </div>
  <div class="final">
    <p class="text">
      Let's stand united in this noble cause. Your act of kindness can uplift
      spirits and provide much-needed sustenance. Thank you for joining us on
      this journey to create a world where no one goes to bed hungry. Donate
      your surplus food and be the heart that feeds a soul."
    </p>
  </div>
</div>
