<div class="main">
  <div class="info">
    <div class="left">
      <div class="content">
        <p class="head">
          We are ready to serve surplus food for you anytime! anywhere!
        </p>
        <br />
        <p class="para">
          The food we serve is supplied directly from prepared place at anytime
        </p>
      </div>
      <div class="buttons">
        <button class="button1" [routerLink]="'/carousel'">Donate</button>
        <button class="button1" [routerLink]="'/request_page'">Request</button>
      </div>
    </div>
    <div>
      <img src="../assets/center.jpeg" class="home_image" />
    </div>
  </div>
</div>
